head
  title Trracker
body
  //- this is the responsive "fixed width" container for bootstrap's grid system
  //- use "container-fluid" for a full width (ie. resizing) container
  .container
    +topNav
    .row
      .col-xs-3#sidebar(role='complementary')
        +sideNav
      .col-xs-9(role='main')
        if currentUser
          +userCategories

template(name='topNav')
  .navbar.navbar-default(role='navigation')
    h3.text-center Trracker (#{incompleteCount})
    h4.text-center
      +loginButtons

template(name='sideNav')
  nav.affix
    each categories
      a.list-group-item(href='/##{name}')
        = name
        span.label.incompletes(class='label-#{categLabelColor}')= incompletes

template(name='userCategories')
  ul#outermost.list-group
    each categories
      +category
    +newCategoryForm

template(name='newCategoryForm')
  li.list-group-item
    form.new.new-category
      input(type='text', name='text', placeholder='New Category')

template(name='newTaskForm')
  li.list-group-item.padded-box
    form.new.new-task
      input(type='text', name='text', placeholder='New Task')
      label Set duedate (blank means no duedate)
      .input-group.datetimepicker
        span.input-group-addon
          span.glyphicon.glyphicon-calendar
        input.set-due-date.form-control(type='text', name='duedate')
      //- "submitting a form by pressing enter without a submit button"
      input(type='submit').off-screen

template(name='newSubtaskForm')
  li.list-group-item
    form.new.new-subtask
      input(type='text', name='text', placeholder='New Subtask')
      hr.no-space
      input.borderless(type='text', name='url', placeholder='Paste URL')
      input(type='submit').off-screen

template(name='category')
  li.list-group-item.padded-box(id='{{name}}')
    button.delete.delete-category &times;
    form
      input.rename-category.in-place(type='text', value='{{name}}')
    label.show-complete
      input(type='checkbox', checked='#{showComplete}')
      | Show Completed Tasks

    ul.list-group
      each tasks
        +task
      +newTaskForm

template(name='ifRealDate')
  if realDate this
    +UI.contentBlock
  else
    +UI.elseBlock

template(name='ifDatePassed')
  if datePassed this
    +UI.contentBlock
  else
    +UI.elseBlock

template(name='task')
  li(class='{{liClasses}}').list-group-item
    button.delete.delete-task &times;
    unless timeSpent
      span.label.label-info.time-area.plus-15= "+1/4hr"
    input.toggle-complete(type='checkbox', checked='#{complete}')
    form
      input.rename-task.in-place(type='text', value='{{name}}')

    +ifRealDate duedate
      br
      label.task-field Duedate:
      = humanDuedate
      br
      +ifDatePassed duedate
        label.task-field Was due:
      else
        label.task-field Due:
      = humanRelativeTime
    if timeSpent
      br
      label.task-field Time Spent:
      = duration
      span.label.label-warning.time-area.rightmost.minus-15= "-1/4hr"
      span.label.label-info.time-area.plus-15= "+1/4hr"
      span.label.label-success.time-area.plus-30= "+1/2hr"
    ul.list-group
      each subtasks
        +subtask
      +newSubtaskForm

template(name='subtask')
  li.list-group-item(class='{{#if complete}}checked{{/if}}')
    button.delete.delete-subtask &times;
    input.toggle-complete(type='checkbox', checked='#{complete}')
    form
      input.rename-subtask.in-place.text(type='text', value='{{name}}')
      if url
        a.subtask-link(href='#{url}') link
        a.glyphicon.glyphicon-file.edit-link
