head
  title Trracker
body
  .container
    header
      h1 Trracker (#{incompleteCount})
      label.hide-complete
        input(type='checkbox', checked='#{hideComplete}')
        | Hide Completed Tasks
      +loginButtons
    if currentUser
      ul#outermost.list-group
        each categories
          +category
        +newCategoryForm

template(name='newCategoryForm')
  li.list-group-item
    form.new.new-category
      input(type='text', name='text', placeholder='New Category')

template(name='newTaskForm')
  li.list-group-item.padded-box
    form.new.new-task
      input(type='text', name='text', placeholder='New Task')
      label Set duedate (blank means no duedate)
      .input-group.datetimepicker
        span.input-group-addon
          span.glyphicon.glyphicon-calendar
        input.set-due-date.form-control(type='text', name='duedate')
      //- "submitting a form by pressing enter without a submit button"
      input(type='submit').off-screen

template(name='newSubtaskForm')
  li.list-group-item
    form.new.new-subtask
      input(type='text', name='text', placeholder='New Subtask')

template(name='category')
  li.list-group-item.padded-box
    button.delete.delete-category &times;
    form
      input(type='text', value='{{name}}').rename-category.in-place
    ul.list-group
      each tasks
        +task
      +newTaskForm

template(name='ifRealDate')
  if realDate this
    +UI.contentBlock
  else
    +UI.elseBlock

template(name='ifDatePassed')
  if datePassed this
    +UI.contentBlock
  else
    +UI.elseBlock

template(name='task')
  li(class='{{#if complete}}checked{{/if}}').list-group-item
    button.delete.delete-task &times;

    input.toggle-complete(type='checkbox', checked='#{complete}')
    form
      input(type='text', value='{{name}}').rename-task.in-place
    +ifRealDate duedate
      br
      label.task-field Duedate:
      = humanDuedate
      br
      +ifDatePassed duedate
        label.task-field Was due:
      else
        label.task-field Due:
      = humanRelativeTime
    else
      br
      label.task-field No duedate
    br
    label.task-field Time Spent:
    if timeSpent
      = duration
    else
      = "None"
    span.label.label-warning.time-area.rightmost.minus-15= "-1/4hr"
    span.label.label-info.time-area.plus-15= "+1/4hr"
    span.label.label-success.time-area.plus-30= "+1/2hr"
    ul.list-group
      each subtasks
        +subtask
      +newSubtaskForm

template(name='subtask')
  li(class='{{#if complete}}checked{{/if}}').list-group-item
    button.delete.delete-subtask &times;
    input.toggle-complete(type='checkbox', checked='#{complete}')
    form
      input(type='text', value='{{name}}').rename-subtask.in-place.text
