head
  title Todo List
body
  .container
    header
      h1 Todo List (#{incompleteCount})
      label.hide-complete
        input(type='checkbox', checked='#{hideComplete}')
        | Hide Completed Tasks
      +loginButtons
    ul#outermost.list-group
      each categories
        +category
    +newCategoryForm

template(name='newCategoryForm')
  form.new.new-category
    input(type='text', name='text', placeholder='Add new category')

template(name='newTaskForm')
  form.new.new-task
    input(type='text', name='text', placeholder='Add new task')
    label Set duedate
    .input-group.datetimepicker
      span.input-group-addon
        span.glyphicon.glyphicon-calendar
      input.set-due-date.form-control(type='text', name='duedate')
    //- "submitting a form by pressing enter without a submit button"
    input(type='submit', style='position: absolute; left: -9999px')

template(name='newSubtaskForm')
  form.new.new-subtask
    input(type='text', name='text', placeholder='Add new subtask')

template(name='category')
  li.list-group-item
    button.delete.delete-category &times;
    = name
    ul.list-group
      each tasks
        +task
    +newTaskForm

template(name='ifRealDate')
  if realDate this
    +UI.contentBlock
  else
    +UI.elseBlock

template(name='ifDatePassed')
  if datePassed this
    +UI.contentBlock
  else
    +UI.elseBlock

template(name='task')
  li(class='{{#if complete}}checked{{/if}}').list-group-item
    button.delete.delete-task &times;
    input.toggle-complete(type='checkbox', checked='#{complete}')
    span.text= name
    +ifRealDate duedate
      label Duedate:
      = humanDuedate
      +ifDatePassed duedate
        label Was due:
      else
        label Due:
        = humanTimeRemaining
    else
      b || No duedate
    ul.list-group
      each subtasks
        +subtask
    +newSubtaskForm

template(name='subtask')
  li.list-group-item
    button.delete.delete-subtask &times;
    input.toggle-complete(type='checkbox', checked='#{complete}')
    span.text {{name}}
